<div class="navigation">
    <div class="logo">
        <embed class="logo-header-svg" src="{{ site.baseurl }}/assets/images/logos/phovea.svg" type="image/svg+xml">
    </div>
    <div class="navigation-buttons">
	  <ul>
        <li class="welcome-button">
          <a href="{{ site.baseurl }}/"><span class="nav-icon"><i class="fa fa-home"></i></span><span class="nav-text">Welcome</span></a>
        </li>
        <li class="tutorials-button">
          <a href="{{ site.baseurl }}/tutorials/"><span class="nav-icon"><i class="fa fa-question-circle"></i></span><span class="nav-text">Tutorials</span></a>
        </li>
        <li class="developers-button">
          <a href="{{ site.baseurl }}/developers/"><span class="nav-icon"><i class="fa fa-cog"></i></span><span class="nav-text">Developers</span></a>
        </li>
        <li class="reference-button">
          <a href="{{ site.baseurl }}/reference/"><span class="nav-icon"><i class="fa fa-book"></i></span><span class="nav-text">Reference</span></a>
        </li>
	  </ul>
    </div>
</div>
