---
layout: default
---

<div class="documentation">

    <!-- I tried assignment first, but the result isn't actually a string:
         It looks right, but the size is only two. Weird. -->
    {% capture dir %}{% assign path = page.url | split: "/" %}{{ path[1] }}{% endcapture %}
    {% if dir.size == 0 %}
        {% assign dir = "welcome" %}
    {% endif %}

    <header class="{{ dir }}-title"><!-- TODO: Class should depend on collection. -->
        <h1>{{ page.title }}</h1>
    </header>

    <article class="docs-content-aside">
        {% assign other_pages = site.pages | sort: "order" %}
        <ul>
            <!-- Special case to include index page in sidebar. -->
            <li><a href="{% if dir == 'welcome' %}/{% else %}/{{ dir }}{% endif %}"
                   {% unless path[2].size > 0 %}class="current"{% endunless %}
            >{{ dir | capitalize }}</a></li>
            <!-- Assigning other_dir didn't work right. -->
            {% for other_page in other_pages %}
                {% capture other_dir %}{{ other_page.path | split: "/" | first }}{% endcapture %}
                {% if other_dir == dir %}{% if other_page.title.size > 0 %}
                    {% if other_page.path == page.path %}
                        {% assign current = true %}
                    {% elsif current %}
                        {% assign current = false %}
                        {% assign next_url = other_page.url %}
                        {% assign next_title = other_page.title %}
                    {% endif %}
                    <li><a href="{{ other_page.url }}"
                           {% if current %}class="current"{% endif %}
                    >{{ other_page.title }}</a></li>
                {% endif %}{% endif %}
            {% endfor %}
        </ul>
    </article>

    <article class="docs-content-main">
        {{ content }}
        {% if next_url %}
            <hr>
            Next: <a href="{{ next_url }}">{{ next_title }}</a>
        {% endif %}
    </article>

</div>
